 h1{
    text-align: center;
 }
table{
    display: flex;
    justify-content: center;
}
 .chess-board
         { 
            border-spacing: 0;
             border-collapse: collapse; 
            }
.chess-board td 
        { 
            border: 1px solid;
             width: 70px; 
             height: 70px; }
.chess-board .white 
        { 
            background:white; 
        }
.chess-board .black
         { 
            background:black;
         }